google-cloud-storage
google-cloud-vision==0.41.0
google-cloud-texttospeech
google-cloud-aiplatform
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pandas
fsspec
gcsfs
ffmpeg-python
pydub
ghostscript
